<h1>New</h1>
<form action="/suppliers" method="post">
    <table>
        <tr> <td> Supplier Name: </td> <td> <input type="text" name="suppliername"> </td> </tr>
        <tr> <td> Website: </td> <td> <input type="text" name="website" required>  </td> </tr>
        <tr> <td> Supplier Number: </td> <td> <input type="text" name="suppliernum" required>  </td> </tr>
        <tr> <td> Supplier Email: </td> <td> <input type="text" name="supplieremail" required>  </td> </tr>
    </table>
    <button type="submit">Save</button>
</form>
