<h1>Oops.. Application Error!</h1>
<p>Ewwwww....something funky happened with the application.</p>
<p>Our crew is on it...come back soon!</p>

<p><%= message %></p>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
