<table bgcolor='lightgray' width='100%'> <tr>
    <td width='20%' align='left'>
        <a href="/"><img src="/images/logo.png" width="150" height="150"></a></td>
    <td width='60%' align='center'><h1>The Slime Co.</h1></td>
    <td width='10%' align='center'>Login</td>
    <td width='10%' align='center'><a href="/catalog/cart">Cart</td>
</tr></table>

<p>
    <form action="/search" method="get">
    Search <input type="text" name="searchcriteria"> 
    <input type="submit" value="Go">
</form></p>

<ul>
    <li> <a href="/">Home</a> </li>
    <li> <a href="/catalog">Catalog</a> </li>
    <li> <a href="/about">About Us</a> </li>
    <li> <a href="/contact">Contact Us</a> </li>
    <li> <a href="/products">Products</a> </li>
    <li> <a href="/customers">Customers</a> </li>
    <li> <a href="/sales">Sales</a> </li>
    <li> <a href="/subscriptions">Subscriptions</a> </li>
    <li> <a href="/orderdetails">Order Details</a> </li>
    <li> <a href="/marketing">Marketing</a> </li>
    <li> <a href="/reviews">Reviews</a> </li>
    <li> <a href="/suppliers">Suppliers</a> </li>
    <li> <a href="/inventory">Inventory</a> </li>
    <li> <a href="/reports">Reports</a> </li>
</ul>