<h1>Privacy Notice</h1>

<p>The Slime Co. cares about data transparency. We want all users
    to be aware of how we use their data. This Privacy Notice 
    discusses how The Slime Co. uses and collects your personal 
    information.</p>