<h1>New</h1>
<form action="/inventory" method="post">
    <table>
        <tr> <td> Product ID: </td> <td> <input type="text" name="productid"> </td> </tr>
        <tr> <td> Stock Level: </td> <td> <input type="text" name="stocklvl" required>  </td> </tr>
        <tr> <td> Supplier ID: </td> <td> <input type="text" name="supplierid" required>  </td> </tr>
        <tr> <td> Cost Per Unit: </td> <td> <input type="text" name="costperunit" required>  </td> </tr>
    </table>
    <button type="submit">Save</button>
</form>
