/* body font is Georgia with a light purple background color and muted black font */
body {
  background-color:#f4ebfa;
  color:#383440;
  font-family:Georgia;
}

/* first heading font is Times, italics and a purple color font */
h1 {
  font-family:Times;
  font-style:italic;
  color:#6f4a75;
}

/* second heading font is Garamond and a dark brown color font */
h2 {
  font-family:Garamond;
  color:#523f47;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

li {
  float: left;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

li a.active {
  color: white;
  background-color: #4CAF50;
}

img {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
}	

img:hover {
  border: 1px solid #777;
}

.button1 {
	background-color: #fbefef;
	font-size: 10px;
  display: block;
  margin: 10px auto;
	border-radius: 4px;
	border: 2px solid #494a49;
          -webkit-transition-duration: 0.4s; /* Safari */
           transition-duration: 0.4s;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

products {
  margin: 5px;
  border: 2px solid #ccc;
  float: left;
  background: #f9f0ff;
  box-shadow: 5px 5px 2px #888888;
  min-width: 220px;
  max-width: 220px;
  min-height: 220px;
  max-height: 220px;
  border-radius: 5px;
  padding: 5px;
}