<h1>New</h1>
<form action="/orderdetails" method="post">
    <table>
        <tr> <td> Sales Order ID: </td> <td> <input type="number" name="saleorderid" required> </td> </tr>
        <tr> <td> Product ID: </td> <td> <input type="number" name="productid"> </td> </tr>
        <tr> <td> Quantity: </td> <td> <input type="number" name="quantity" required>  </td> </tr>
        <tr> <td> Unit Price: </td> <td> <input type="text" name="unitprice" required>  </td> </tr>
        <tr> <td> Subtotal: </td> <td> <input type="text" name="subtotal" required>  </td> </tr>
    </table>
    <button type="submit">Save</button>
</form>
