<h1>New</h1>
<form action="/reviews" method="post">
    <table>
        <tr> <td> Product ID: </td> <td> <input type="text" name="productid" required> </td> </tr>
        <tr> <td> Customer ID: </td> <td> <input type="text" name="customerid"> </td> </tr>
        <tr> <td> Review Date: </td> <td> <input type="date" name="reviewdate" required>  </td> </tr>
        <tr> <td> Comments: </td> <td> <input type="text" name="comments" required>  </td> </tr>
        <tr> <td> Rating: </td> <td> <input type="text" name="rating" required>  </td> </tr>
        <tr> <td> Published Status: </td> <td> <input type="text" name="publishedstatus" required>  </td> </tr>
    </table>
    <button type="submit">Save</button>
</form>
