<h1>New</h1>
<form action="/subscriptions" method="post">
    <table>
        <tr> <td> Customer ID: </td> <td> <input type="number" name="customerid"> </td> </tr>
        <tr> <td> Subscription Type: </td> <td> <input type="text" name="subscriptiontype" required> </td> </tr>
        <tr> <td> Subscription Status: </td> <td> <input type="text" name="subscriptionstatus" required>  </td> </tr>
        <tr> <td> Start Date: </td> <td> <input type="date" name="startdate" required>  </td> </tr>
        <tr> <td> End Date: </td> <td> <input type="date" name="enddate" required>  </td> </tr>
    </table>
    <button type="submit">Save</button>
</form>
