<h1>Details</h1>
<table>
 	<tr> <td> Subscription ID: </td> <td> <%= onerec.subscriptionid %> </td> </tr>
 	<tr> <td> Customer ID: </td> <td> <%= onerec.customerid %> </td> </tr>
 	<tr> <td> Subscription Type: </td> <td> <%= onerec.subscriptiontype %> </td> </tr>
 	<tr> <td> Subscription Status: </td> <td> <%= onerec.subscriptionstatus %> </td> </tr>
</table>
