<h1>Details</h1>
<table>
 	<tr> <td> Order ID: </td> <td> <%= onerec.saleorderid %> </td> </tr>
 	<tr> <td> Customer ID: </td> <td> <%= onerec.customerid %> </td> </tr>
 	<tr> <td> Order Status: </td> <td> <%= onerec.orderstatus %> </td> </tr>
</table>
